@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-text bg-background;
  }
}

@layer components {
  .container {
    @apply mx-auto px-6 max-w-7xl;
  }
}
